name: Compile Drivers

on:
  # Allow to trigger action manually
  workflow_dispatch:
    inputs:
      kernel_version:
        description: 'Kernel Version'
        required: true
        default: '6.17.1'
        type: string
      drivers:
        description: 'Drivers'
        required: true
        default: 'all'
        type: string
      branch:
        description: 'Branch'
        required: false
        type: string
      version:
        description: 'Version'
        required: false
        type: string

jobs:
  build_drivers:
    runs-on: self-hosted
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install dependencies
      run: apt-get update && apt-get -y install build-essential flex bison libncurses-dev libssl-dev libelf-dev bc dwarves kmod squashfs-tools rsync git cpio xz-utils iucode-tool

    - name: Compile Drivers
      env:
        GH_ACTOR: ${{ github.actor }}
        MOS_TOKEN: ${{ secrets.MOS_TOKEN }}
      run: |
        # Set Variables and create directories
        export WORK_DIR=${{ github.workspace }}
        export BUILD_DIR=${WORK_DIR}/build
        export KERNEL_V=${{ github.event.inputs.kernel_version }}
        DRIVERS=${{ github.event.inputs.drivers }}
        export BUILD_MODE=${{ github.event.inputs.drivers }}
        export BRANCH=${{ github.event.inputs.branch }}
        export DRV_VERSION=${{ github.event.inputs.version }}
        rm -rf /lib/modules /lib/firmware
        mkdir -p $BUILD_DIR $WORK_DIR/$KERNEL_V $BUILD_DIR/$KERNEL_V /lib/modules /lib/firmware

        # Get Kernel JSON
        KERNEL_JSON=$(curl -s --request GET \
            --url "https://api.github.com/repos/ich777/mos-kernel/releases?per_page=50" \
            --header "Authorization: Bearer ${{ secrets.MOS_TOKEN }}" \
            --header "X-GitHub-Api-Version: 2022-11-28")

        # Get Kernel archive Asset IDs
        ASSET_KERNEL=$(echo $KERNEL_JSON | jq --arg kernel $KERNEL_V-mos -r '.[] | select(.tag_name == $kernel) | .assets[] | select(.name | startswith($kernel) and endswith(".tar.xz")) | .id')
        ASSET_KERNEL_MD5=$(echo $KERNEL_JSON | jq --arg kernel $KERNEL_V-mos -r '.[] | select(.tag_name == $kernel) | .assets[] | select(.name | startswith($kernel) and endswith(".tar.xz.md5")) | .id')

        # Define download asset function including md5 check
        download_asset() {
          echo "Downloading file: $2"
          curl --progress-bar -L \
            --header "Authorization: Bearer ${{ secrets.MOS_TOKEN }}" \
            --header "Accept: application/octet-stream" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --output "$WORK_DIR/$2" \
            "https://api.github.com/repos/ich777/mos-kernel/releases/assets/$1"
        
          if [[ "$2" == *.md5 ]]; then
            echo "Checking md5"
            if [ "$(md5sum ${2%.*} | awk '{print $1}')" == "$(cat $WORK_DIR/$2)" ] ; then
              echo "md5 OK"
            else
              echo "md5 ERROR"
              exit 1
            fi
          fi
        }

        # Download assets
        download_asset "$ASSET_KERNEL" "$KERNEL_V-mos.tar.xz"
        download_asset "$ASSET_KERNEL_MD5" "$KERNEL_V-mos.tar.xz.md5"

        # Extract precompiled Kernel
        echo "Extracting Kernel..."
        tar -C $BUILD_DIR/$KERNEL_V -xf $WORK_DIR/$KERNEL_V-mos.tar.xz

        # Install modules
        cd $BUILD_DIR/$KERNEL_V
        export KERNEL_DIR=$BUILD_DIR/$KERNEL_V
        make -j$(nproc --all)
        make modules_install -j$(nproc --all)

        # Get build order
        ORDER=$(cat $WORK_DIR/build_order)

        if [ "$BUILD_MODE" == "all" ] ; then
          # Loop through folders
          for folder in $ORDER
          do
            # Execute build scripts
            for script in $(ls -1 $WORK_DIR/build_scripts/$folder/*.sh)
            do
              chmod +x $script
              $script
            done
          done
        else
          if [ ! -z "$BRANCH" ] ; then
            # If branch is not empty get only the specific branch script
            SCRIPTS=$(ls -1 $WORK_DIR/build_scripts/$DRIVERS/*.sh | grep "$BRANCH")
          else
            # If branch is empty get all scripts
            SCRIPTS=$(ls -1 $WORK_DIR/build_scripts/$DRIVERS/*.sh)
          fi
          for script in $SCRIPTS
          do
            chmod +x $script
            $script "$DRV_VERSION"
          done
        fi

        echo "KERNEL_V=$KERNEL_V
        PACKAGES_DIR=$WORK_DIR/$KERNEL_V" >> $GITHUB_ENV

    - name: Create and Upload Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ env.KERNEL_V }}-mos
        files: ${{ env.PACKAGES_DIR }}/*
        overwrite_files: true
        name: "Drivers for Kernel release ${{ env.KERNEL_V }}-mos"
        body: "Addon driver releases for MOS"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Cleanup
      if: always()
      run: rm -rf ${{ github.workspace }}/* ${{ github.workspace }}/.* /lib/modules /lib/firmware
